<%- include partials/header.ejs %>
  <div id="container">
    <h1>
      <%= title %>
    </h1>
      <h2>Contact Me</h2>
            <table>
                <tr>
                    <td>First Name:</td>
                    <td>Damandeep</td>
                </tr>
                <tr>
                    <td>Last Name:</td>
                    <td>Singh</td>
                </tr>
                <tr>
                    <td>Contact number: </td>
                    <td>+1 ( 647 ) 509 3945</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>ddsingh1423@gmail.com</td>
                </tr>
            </table>
  </div>
  <%- include partials/footer.ejs %>
