<!DOCTYPE html>
<html>

<head>
  <title>
    Damandeep Singh | <%= title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
  <meta name="description" content="Damandeep Singh"></meta>

  <!--stylesheets-->
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">

</head>

<body>
  <nav class="navbar navbar-mycolour navbar-fixed-top">

    <table>
      <tr><img src="logo.png" height = "100px"/></tr>
      <tr>
          <td><a href="index.html">Home</a></td>
          <td><a href="aboutus.html">About me</a></td>
          <td><a href="projects.html">Projects</a></td>
          <td><a href="services.html">Services</a></td>
          <td><a href="contact.html">Contact Me</a></td>
      </tr>
  </table>
  </nav>
