<%- include partials/header.ejs %>
  <div id="container">
    <h1>Welcome</h1>
  </table>
  <div style="padding-top: 20px;">
      Welcome everyone to my Personal Homepage. <br>
      This is something like my virtual presence. <br> <br>

      I am really happy to know that you dropped by my webpage to know more about me. 
      You can <a href="aboutus.html">click here</a> to know more about me. 
      <br><br><br>
      <strong>Mission</strong> <br>
      I am a software enginnering student passionate about programming and designing. <br>
      I am interested in working for a company that would make utilization of my potential and so can gain experience and start up my own company. <br>
      I am open to work from any location.
  </div>
  </div>
<%- include partials/footer.ejs %>
