<%- include partials/header.ejs %>
  <div id="container">
    <h1><%= title %></h1>
    <h2>Projects</h2>
    <table>
        <tr>
            <td><img src="public/downloads/project1.JPG" height="100px"></td>
            <td>
                <strong>Bug killing game</strong><br>
                Game made to kill the bugs present on the leaves.
                <br>
                Role: Design, implemention
            </td>
        </tr>
        <tr>
            <td><img src="public/downloads/project2.JPG" height="100px"></td>
            <td>
                <strong>Cars gallery</strong><br>
                Using HTML, Javascript made up a car gallery site
                <br>
                Role: Implentation, Design
            </td>
        </tr>
        <tr>
            <td><img src="public/downloads/project3.JPG" height="100px"></td>
            <td>
                <strong>Creating Tables</strong><br>
                Making a direct table of 15 by 15 or can set up table of our own rows and columns
                <br>
                Role: Design, Implentation
            </td>
        </tr>
    </table>
  </div>
<%- include partials/footer.ejs %>
