<%- include partials/header.ejs %>
  <div>
    <h2>Services</h2>
            <ol>
                <li>Website Development</li>
                <li>C# Programming</li>
                <li>Database development</li>
            </ol>
  </div>
<%- include partials/footer.ejs %>
